<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Course</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
</head>
<body id="mainBody">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar navbar-dark bg-dark">
                @Html.ActionLink("My army", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="d-flex header-navigation">
                <ul class="nav d-flex">
                    <li class="m-2">@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li class="m-2">@Html.ActionLink("Армии", "Index", "Armies")</li>
                    <li class="m-2">@Html.ActionLink("Типы войск", "Index", "Types")</li>
                    <li class="m-2">@Html.ActionLink("Мониторинг", "Info", "Types")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Copyright</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
